.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 1rem;
    z-index: 1000;
    background-color: white;
    padding: 2rem;
    width: calc(clamp(30vw, 16rem, 30rem));

    .help-header {
        display: flex;
        justify-content: space-between;
        p {
            font-size: calc(1rem + 0.75vw);
            font-weight: bold;
        }

        .close-button {
            cursor: pointer;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    
}