* {
    margin: 0;
}


.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    // background-color: green;
    width: #{"min(100vmin, 100vw)"};
    height:60vmin;
    margin: 0 auto 0 auto;
    overflow: scroll;
    
    
    .container {
        // background-color: aquamarine;
        display: grid;
        margin: 0 auto 0 auto;
        

        > div {
            display: flex;
            margin: 2px;
            // @media (max-width: 720px) {
            //     width: 10vw;
            // }
            align-items: center;
            // justify-content: center;

            > div {
                margin: 0 2px 0 2px;
                height: 8vmin;
                width: 7vmin;
                // padding: calc(1px + 0.75vmin) calc(1px + 1vmin) calc(1px + 0.75vmin) calc(1px + 1vmin);
                // border: calc(1px + 0.2vw) solid grey;
                font-size: calc(2vmin + 1rem);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
            }
        }
    }
}