* {
    margin: 0;
}

.nav-bar {
    background-color: pink;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        
        .left-menu {
            // margin: 0 0 0 2rem;
            margin: 0 auto 0 0;
            padding: 0 0 0 3vw;
        }

        .right-menu {
            margin: 0 0 0 auto;
            padding: 0 3vw 0 0;
        }

        h1 {
            font-size: 3rem;
        }
    }
}

.h1 {
    color: green;
}